
<ion-header>

  <ion-navbar>
    <ion-title>Transport</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <img src="assets/icon/school-bus.png" class="imgsize">
  </div>
  <div>  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Route Name :
            <ion-note>City Centre</ion-note>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>No. of Vehicle :
            <ion-note>321</ion-note>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Vehicle Registered No. :
            <ion-note>MH 1234</ion-note>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Driver Name :
            <ion-note>John Stewert</ion-note>
          </ion-label> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Driver Phone No. :
            <ion-note>9876543210</ion-note>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>      
  </div>
</ion-content>
