page-transport{
.imgsize{
    width: 200px;
    height: 200px;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom: -40px;
}
.col{
    padding: 3px;
}
.label{
    margin: 5px;
}
}