page-timetableweek {
    .card-md {
        margin: 10px;
        border-radius: 15px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        border: 2px solid #C01F25;
        height: 133px;
    }

    ion-card-header {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* border: 2px solid red; */
        /* border-radius: 17px; */
        background: #C01F25;
        /* color: white; */
      
    }

    .cardhead{
        font-size: 1.8rem;
        color: white;
        text-align: center;
        padding: 0px;
        border: 2px solid #C01F25;
    }

    .maincard {
        margin: 12px;
        border-radius: 10px;
        width: calc(100% - 24px);
        font-size: 1.4rem;
        border: 3px solid #C01F25;
        // height: 140%;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    h2{
        text-align: center;
     
    padding: 22px;
    color: #757474;
    font-weight: bold;
    }

    .h2set {
        margin: 2px 0;
        font-size: 3rem;
        font-weight: normal;
    }

   .divrow {
        margin-top: 27px;
    }

    .label-ios {
         margin: 0px; 
    }
}
